@import "node_modules/concise.css/src/concise.scss";

[container] {
    background: lighten($teal, 60%);
    padding: 0;
}

header {
    width: 100%;
    height: 11em;
    background: url('/images/quick-elec_logo.png') no-repeat left 2em top 1em $teal;
    background-size: 18em;
    padding-top: 1em;
    
    h1 {
        display: none;
    }
}

#nav {
    height: 2em;
    margin-top: 8em;
    
    li {
        background: darken($teal, 5%) ;
        margin: 0;
        padding: .5em 2em;
        color: $white;
        
        &:hover {
            background: lighten($teal, 5%);
        }
    }
}

.page-content {
    padding: 40px;
}

footer {
    width: 100%;
    height: 10em;
    background-color: $teal;
}

