@import "node_modules/concise.css/src/concise.scss";

[container] {
    background: lighten($sky, 60%);
    padding: 0;
}

header {
    width: 100%;
    height: 11em;
    background: url('/images/quick-elec_logo3.png') no-repeat left 2em top 1em $sky;
    background-size: 20em;
    padding-top: 1em;
    
    h1 {
        display: none;
    }
}

#nav {
    height: 2em;
    margin-top: 8em;
    
    ul {
        height: auto;
    }
    
    li {
        margin: 0;
        padding: 0;
        
        a {
            background: darken($sky, 5%);
            color: $white;
            margin: 0;
            padding: .7em 2em;
            
            &:hover {
            background: lighten($sky, 5%);
            }
        }
    }
}

.page-content {
    padding: 40px;
}

.unslider-nav ol {
    position: absolute;
    top: 42em;
    left: 45%;
}

.unslider-arrow.prev {
    position: absolute;
    top: 42em;
    left: 10% !important;
}

.unslider-arrow.next {
    position: absolute;
    top: 42em;
    right: 10% !important;
}

.banner-image {
    height: 35em;
}

.banner-image-1 {
        background: url('/images/stock/image1.jpeg') no-repeat center center;
        background-size: cover;
}

.banner-image-2 {
        background: url('/images/stock/image2.jpeg') no-repeat center center;
        background-size: cover;
}
    
.banner-image-3 {
        background: url('/images/stock/image3.jpeg') no-repeat center center;
        background-size: cover;
}
    
.banner-image-4 {
        background: url('/images/stock/image4.jpeg') no-repeat center center;
        background-size: cover;
}

.banner-image-5 {
        background: url('/images/stock/image5.jpeg') no-repeat center center;
        background-size: cover;
}

footer {
    height: 10em;
    background-color: $sky;
    padding: 3em;
    
    p {
        color: lighten($sky, 40%);
    }
}

