@import "node_modules/concise.css/src/concise.scss";

[container] {
    padding: 0;
    max-width: 1150px;
}

header {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    max-width: 1150px;
    height: 11em;
    background: $blue;
    background: rgba($blue, 0.85);
    padding-top: 1em;
}

#header-content {
    position: absolute;
    background: url('/images/quick-elec_logo3.png') no-repeat left 2em top .3em;
    background-size: 18em;
    width: 30em;
    height: 7em;
    
    h1 {
        display: none;
    }
}

#nav {
    position: absolute;
    bottom: 0;
    
    ul {
        height: auto;
    }
    
    li {
        margin: 0;
        padding: 0;
        
        a {
            background: darken($blue, 5%);
            background: rgba($blue, .7);
            color: $white;
            margin: 0;
            padding: .7em 2em;
            
            &:hover {
            background: lighten($blue, 5%);
            background: rgba($blue, 1);
            }
        }
    }
}

.page-content {
    margin-top: 200px;
    padding: 40px;
}

.unslider-arrow {
    top: 50em;
}

.unslider-arrow.prev {
    left: 20% !important;
}

.unslider-arrow.next {
	right: 20% !important;
}

.banner-image {
    height: 55em;
}

.banner-image-1 {
        background: url('/images/stock/image1.jpeg') no-repeat top center;
        background-size: cover;
}

.banner-image-2 {
        background: url('/images/stock/image2.jpeg') no-repeat top center;
        background-size: cover;
}
    
.banner-image-3 {
        background: url('/images/stock/image3.jpeg') no-repeat top center;
        background-size: cover;
}
    
.banner-image-4 {
        background: url('/images/stock/image4.jpg') no-repeat top center;
        background-size: cover;
}

.banner-image-5 {
        background: url('/images/stock/image5.jpeg') no-repeat top center;
        background-size: cover;
}

footer {
    height: 10em;
    background: rgba($blue, 0.85);
    padding: 3em;
    
    p {
        color: lighten($blue, 40%);
    }
}

